#headerSlider {
  width: 100%;
  height: 123vw;
  max-height: 630px;
  overflow: hidden;
  position: relative;
  padding-top: 140px;
}

#headerSlider #imgSliderCon {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 100%);
  height: 100%;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: 400ms ease-out;
  transition: 400ms ease-out;
  cursor: -webkit-grab;
  cursor: grab;

}

#headerSlider #imgSliderCon .slideImg {
  background-position: center;
  background-size: cover;
  position: relative;
}

#headerSlider #imgSliderCon .slideImg .slideDescCon {
  width: 100%;
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#headerSlider #imgSliderCon .slideImg .slideDescCon .slideDescShadow {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  position: absolute;
}

#headerSlider #imgSliderCon .slideImg .slideDescCon .slideDescHolder {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 10%;
  z-index: 2;
  width: 100%;
  color: white;
  /*font: 1rem "Poppins", sans-serif;*/
  /*text-align: center;*/
}
#headerSlider #imgSliderCon .slideImg .slideDescCon h1 {
  color: white;
  font-size: 45px;
  font-family: "Poppins", "sans-serif";
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.9rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 1.1em;
}

#headerSlider #imgSliderCon .slideImg .slideDescCon a {
  display: block;
  width: 200px;
  height: 62px;
  border: none;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #9bbf3e;
  color: white;
  font: 1rem "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

#headerSlider #imgSliderCon .slideImg .slideDescCon a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#headerSlider #imgSliderCon:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

#headerSlider #sliderPositionCon {
  position: absolute;
  width: 80px;
  height: 20px;
  z-index: 4;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#headerSlider #sliderPositionCon .sliderPosition {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: #ddd;
  cursor: -webkit-grab;
  cursor: grab;
  background-color: rgb(221, 221, 221);
}

#headerSlider #sliderPositionCon .sliderPosition:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

#headerSlider #sliderPositionCon .sliderPositionActive {
  background-color: #4f6fce;
}

#text_dec{
        text-decoration:none;
        text-align: center;
    }


#transpar{
        border-top: transparent;
    }

    #bordt{
        border-top: transparent;border-bottom: 1px solid #9BBE3D;
    }

    #bordt1{
        border-top:2px solid #9bbf3e;
    }

    #bordt2{
        text-align:center; color:white; font:14px 'Poppins',sana-serif;padding:20px 0px;
    }

#transpar{
        border-top: transparent;
    }

    #bordt{
        border-top: transparent;border-bottom: 1px solid #9BBE3D;
    }

    #bordt1{
        border-top:2px solid #9bbf3e;
    }

    #bordt2{
        text-align:center; color:white; font:14px 'Poppins',sana-serif;padding:20px 0px;
    }

